::ng-deep :root {
    --navbar-height: calc(100vh / 15);
    --thin_5px_margin: 5px;
}

h3 {
    font-family: "Arial", Arial, sans-serif;
}

.custom-nav-bar-wrapper {
    height: var(--navbar-height);
    width: calc(100vw - 16px);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    position: relative;
}
.custom-nav-bar {
    height: var(--navbar-height);
    width: calc(100vw - 16px);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    position: fixed;

}
.custom-menu-icon {
    width: var(--navbar-height);
    height: var(--navbar-height);
    z-index: 100;
    background-size: contain;
    float: left;
}
.custom-filter-icon {
    width: calc(var(--navbar-height) - var(--thin_5px_margin));
    height: calc(var(--navbar-height) - var(--thin_5px_margin));
    float: right;
    margin: 5px;
    z-index: 100;
    background-size: contain;
    background-repeat: no-repeat;
}